<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog Hedy Lamar{% endblock %}</title>
    <!-- Adicionar links para CSS e frameworks como Bootstrap -->

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Header / Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body navbar-blog" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Blog Hedy Lamar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li> -->
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
            </div>
            <div class="d-flex align-items-center mx-2">
            <button data-mdb-ripple-init type="button" class="btn btn-primary px-3 me-3">
                Login
            </button>
            </div>
        </div>
    </nav>

    <header class="text-center mt-3">
        <h1>{% block header %}{% endblock %}</h1>
    </header>

    <!-- Main Content -->
    <main class="flex-fill text-center">
        <div class="container mx-auto">
          {% block content %}
          {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center py-3">
        <p>&copy; 2024 @squad-hedy-lamar 💙</p>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
