<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog Hedy Lamar{% endblock %}</title>
    <!-- Adicionar links para CSS e frameworks como Bootstrap -->

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <!-- Importar Google Font Roboto -->

</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Header / Navbar -->
    <nav class="navbar navbar-expand-lg border-body navbar-blog" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="d-inline-block align-text-top logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li> -->
                </ul>
                {% if request.path == '/' %}
                <form class="d-flex" role="search" action="{% url 'blog-home' %}" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar..." 
                            aria-label="Buscar" 
                            aria-describedby="button-addon2"
                            name="q"
                            value="{{ query|default:'' }}"
                            >
                        <button class="btn btn-primary btn-icon" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                      </div>
                </form>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="flex-shrink-0 dropdown mb-1 ms-2">
                    <a href="{% url 'profile' %}" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/avatar.png' %}" alt="mdo" width="32" height="32" class="rounded-circle me-2">
                        <span>{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);" data-popper-placement="bottom-end">
                      <li>
                        <a class="dropdown-item d-flex justify-content-between" href="{% url 'profile' %}">
                            Perfil
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                        <a href="#" class="dropdown-item d-flex justify-content-between" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                            {% csrf_token %}
                        </form>
                      </li>
                    </ul>
                </div>
                {% else %}
                    {% if request.path == '/' %}
                    <div class="mb-3 ms-2 text-end">
                        <a href="{% url 'login' %}" class="btn btn-primary">
                            Login
                        </a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>

    <header class="text-center">
        <h1>{% block header %}{% endblock %}</h1>
    </header>

    <!-- Main Content -->
    <main class="flex-fill text-center">
        <div class="container mx-auto">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-custom-purple purple text-center py-3 mt-5">
        <p style="color: #fff;">&copy; 2024 @squad-hedy-lamar 💙</p>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</body>

</html>