.post-details {
  .img-post {
    height: 200px;
    width: 100%;
  }

  .conteudo-post {
    gap: 2px;
    display: flex;
    flex-direction:column;
    
    p{
      text-align: left;
    }

    .titulo-post {
      margin-top: 20px;
    }
  }

  .comentarios {
    text-align: left;
  }
}


.post-list {
  .img-post {
    height: 100px;
  }

  .footer-post {
    display: flex; 
    justify-content:space-between;
    margin-top: 5px;
  }
}

.navbar-blog {
  background-color: #FDFBFB !important;
  border-color: #66256B;
  
}

.nav-blog {
  font-family: 'Roboto', sans-serif; /* Defina a fonte desejada */
  font-weight: 700;
  color: #CF5089; /* Defina a cor do título */
  font-size: 48px; /* Defina o tamanho da fonte */
}

.btn-primary {
  background-color: #EA638C !important;
  border-color: #EA638C;

  &:hover {
    background-color: #CF5089 !important; 
    border-color: #CF5089;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
}

.btn-outline-light {
  &:hover {
    background-color: #CF5089 !important; 
    border-color: #CF5089;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
}

input {
  background-color:  #fff !important;
  color: black !important;
}

input::placeholder {
  color: #190E4F !important;
  opacity: 1 !important;
}

i {
  width: 24px; 
  height: 24px; 
  border-radius: 50%; 
  background-color: #B33C86; 
  color: white;
  padding: 5px 5px;
  font-size: 8px;
}

.btn-icon i {
  background-color: #EA638C !important; 
}

/*esse codigo 23/10*/
.search-bar {
  border: 1px solid #B33C86; /* Cor da borda */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 5px;
  /* background-color: #f8f9fa; Cor de fundo */
  display: flex;
  align-items: center;
}

.form-control {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.2rem;
  color: #2c145a; /* Cor do texto */
  background-color: transparent;
}

.search-btn {
  background-color: transparent;
  border: none;
  color: #2c145a; /* Cor do ícone da lupa */
  font-size: 1.5rem;
}

.search-bar:hover,
.form-control:focus {
  border-color: #a0286b; /* Alteração da cor ao focar ou passar o mouse */
}

.search-btn:hover {
  color: #a0286b; /* Alteração da cor do ícone ao passar o mouse */
}

