{% extends 'base.html' %}
{% load static %}
{% load comments %}

{% block title %}Home - Meu Blog{% endblock %}

{% block content %}
<div class="container-fluid my-4 mx-20 post-details">
  <img src="{{ post.image.url }}" class="img-fluid img-post" alt="Imagem do post">
  <div class="conteudo-post">
    <h1 class="titulo-post">{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Autor: {{ post.author.username }}</p>
    <p>Publicado em: {{ post.published_date }}</p>
  </div>
  <div class="comentarios">
    {% get_comment_count for post as comment_count %}
    <p>{{ comment_count }} comentários foram postados.</p>
    {% render_comment_list for post %}
  </div>
  <div>
    {% render_comment_form for post %}
  </div>
</div>


{% endblock %}