{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Meu Blog{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <h2 class="mt-5">Mudar a senha?</h2>
    
    <div class="alert alert-danger mt-2" role="alert">
        Tem certeza que deseja mudar a sua senha?
    </div>
    <form method="post" class="needs-validation mt-5" novalidate>
        {% csrf_token %}

        <div class="row col">
            <div class="mb-3 col-md-6">
                <input type="password" 
                    name="old_password" 
                    class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" 
                    placeholder="Digite sua senha antiga" 
                    value="{{ form.old_password.value|default:'' }}"
                    id="{{ form.old_password.id_for_label }}">
                {% if form.old_password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.old_password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row col">
            <div class="mb-3 col-md-6">
                <input type="password" 
                    name="new_password1" 
                    class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" 
                    placeholder="Digite sua senha nova" 
                    value="{{ form.new_password1.value|default:'' }}"
                    id="{{ form.new_password1.id_for_label }}">
                {% if form.new_password1.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.new_password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3 col-md-6">
                <input type="password" 
                    name="new_password2" 
                    class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" 
                    placeholder="confirme sua senha nova" 
                    value="{{ form.new_password2.value|default:'' }}"
                    id="{{ form.new_password2.id_for_label }}">
                {% if form.new_password2.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.new_password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if form.new_password1.help_text %}
        <div class="row col">
            <div class="form-text help-text">{{ form.new_password1.help_text }}</div>
        </div>
        {% endif %}
        <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary ms-auto">alterar</button>
            <a href="/" class="btn btn-outline-primary ms-2">cancelar</a>
        </div>
    </form>
</div>
{% endblock %}