{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil - Meu Blog{% endblock %}
{% block content %}
<div class="container">
    <h2>Perfil</h2>
    <p><strong>Olá, </strong> {{ profile.user.username }} !</p>
    <p><strong>Email:</strong> {{ profile.user.email }}</p>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" alt="Foto de Perfil" class="img-thumbnail"
        style="width: 150px; height: 150px;">
    {% else %}
        <p>Sem foto de perfil</p>
    {% endif %}
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Editar Perfil</a>
</div>
<div class="container my-5"> Mudar a senha? <a href="{% url 'change_password' %}">Clique aqui</a></div>
{% endblock %}